:root {
    --background-header: #9b2247;
}

/* Estilos para cards personalizadas */
.card {
    border-radius: 12px !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
}

.card-header {
    background-color: var(--background-header) !important;
    border-radius: 12px 12px 0 0 !important;
}

.card-title {
    color: white !important;
}